<section class="row ng-scope" ng-controller="ModalDemoCtrl">
<div class="row credit-form">
  <h1>Credit Form</h1>
</div>

<div class="row company-name">

  <div class="col-md-2">
    <p>Company Name: </p>

  </div>
  <div class="col-md-10">
    <input type="text" class="form-control" placeholder="Text input">


  </div>


</div>

<div class="row phone-number">

   <div class="col-md-2">
    <p>Phone: </p>

  </div>
  <div class="col-md-4">
    <input type="text" class="form-control" placeholder="Text input">


  </div>
  <div class="col-md-2">
    <p>Fax: </p>

  </div>
  <div class="col-md-4">
    <input type="text" class="form-control" placeholder="Text input">


  </div>

</div>

<div class="row company-name">

  <div class="col-md-2">
    <p>Fisical Address: </p>

  </div>
  <div class="col-md-10">
    <input type="text" class="form-control" placeholder="Text input">


  </div>


</div>

<div class="row owners-name">

  <div class="col-md-2">
    <p>Owner's Name: </p>

  </div>
  <div class="col-md-10">
    <input type="text" class="form-control" placeholder="Text input">


  </div>


</div>
<div class="row authorize-name">

  <div class="col-md-2">
    <p>Authorize Personel: </p>

  </div>
  <div class="col-md-10">
    <input type="text" class="form-control" placeholder="Text input">


  </div>


</div>

<div class="row social-security">

   <div class="col-md-2">
    <p>Social Security: </p>

  </div>
  <div class="col-md-4">
    <input type="text" class="form-control" placeholder="Text input">


  </div>
  <div class="col-md-2">
    <p>Lic: </p>

  </div>
  <div class="col-md-4">
    <input type="text" class="form-control" placeholder="Text input">


  </div>


</div>

<div class="row">
  <div class="col-md-2">
    <p>Organization: </p>

  </div>

  <div class="col-md-10">
    <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Individual
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Society
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Corportation
</label>
  </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Requirments</h2>

    </div>
  </div>



<div class="row">
    <div class="col-md-12">
      <h2>Bank Reference: </h2>

    </div>
    <div class="col-md-4">
      <p>Bank: </p>
      <input type="text" class="form-control" placeholder="Text input">

    </div>
    <div class="col-md-4">
      <p>Account Number: </p>
      <input type="text" class="form-control" placeholder="Text input">


    </div>
    <div class="col-md-4">
      <p>Phone: </p>
      <input type="text" class="form-control" placeholder="Text input">

    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2>Credit Reference: </h2>

    </div>
    <div class="col-md-4">
      <p>Institution: </p>
      <input type="text" class="form-control" placeholder="Text input">

    </div>
    <div class="col-md-4">
      <p>Contact: </p>
      <input type="text" class="form-control" placeholder="Text input">


    </div>
    <div class="col-md-4">
      <p>Phone: </p>
      <input type="text" class="form-control" placeholder="Text input">

    </div>
  </div>

</section>




















