<section class="row modal-ng-scope">


  <div class="modal-header">
    <h3 class="modal-title">Sign Up for Monthly Newsletter</h3>
  </div>
  <div class="modal-body">

    <h1>Newsletter</h1>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputFullName" class="col-xs-2 control-label">Name*</label>
        <div class="col-xs-10">
          <input type="text" class="form-control" id="inputFullName" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-xs-2 control-label">Email*</label>
        <div class="col-xs-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="">
        </div>
      </div>
</form>



  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>



</section>


