<section class="row modal-ng-scope">


  <div class="modal-header">
    <h3 class="modal-title">Contact Us</h3>
  </div>
  <div class="modal-body">





    <div class="row">
      <div class="col-md-12">

        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputFullName" class="col-xs-2 control-label">Name*</label>
            <div class="col-xs-10">
              <input type="text" class="form-control" id="inputFullName" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-xs-2 control-label">Email*</label>
            <div class="col-xs-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="">
            </div>
          </div>





          <div class="form-group">

            <label for="inputPhone" class="col-xs-2 control-label">Phone</label>

            <div class="col-xs-2">
              <input type="text" class="form-control" placeholder="" id="inputPhone">
            </div>
            <div class="col-xs-3">
              <input type="text" class="form-control" placeholder="">
            </div>
            <div class="col-xs-4">
              <input type="text" class="form-control" placeholder="">
            </div>

          </div>



          <div class="form-group">
            <label for="inputSubject" class="col-xs-2 control-label">Subject</label>
            <div class="col-xs-10">
              <input type="text" class="form-control" id="inputSubject" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label for="routeTo" class="col-xs-2 control-label">Department</label>
            <div class="col-xs-10">
          <select class="form-control" id="routeTo">
            <option>Rental</option>
            <option>Sale</option>
            <option>Service</option>
          </select>
              </div>

          </div>



          <div class="form-group">
            <label for="inputContactEmail" class="col-xs-2 control-label">Message</label>
            <div class="col-xs-10">
              <textarea class="form-control" rows="3" id="inputContactEmail" placeholder="*Please enter your contract #"></textarea>
            </div>
          </div>








        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>



</section>




















