<section class="row modal-ng-scope">


  <div class="modal-header">
    <h3 class="modal-title">Location: San Juan</h3>
  </div>
  <div class="modal-body">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3785.6408579857357!2d-66.09103828582793!3d18.40918948747392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c0368fc6513582f%3A0xad5d2bccd84853d8!2sDe+Diego+Rental!5e0!3m2!1sen!2spr!4v1449074951772" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>





  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>



</section>




















