<section class="row ng-scope" data-ng-controller="HomeController">
  <!-- DE DIEGO RENTAL-->
  <div class="row first-row">

    <div class="row third-row">
      <div class=" col-xs-4">
        .


      </div>
      <div class=" col-xs-4 phone">
        <h4 class="h4 phone">787-781-3320</h4>


      </div>

      <div class=" col-xs-4 login">
        <button type="button" class="btn btn-login">LogIn</button>


      </div>

    </div>

    <div class="row fourth-row">
      <div class=" col-xs-4 icon-bar">

        <img class="img main-logo" src="/modules/core/client/img/brand/newlogo.png">


      </div>
      <div class=" col-xs-8 navbar-col8">


        <nav class="navbar navbar-default">
          <div class="container-fluid navbar-container">
            <!-- Brand and toggle get grouped for better mobile display -->


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="li li-equipment"><a href="#"><p class="p p-equipment">Equipment</p></a></li>
                <li class="li li-services"><a href="#"><p class="p p-services">Services</p></a></li>
                <li class="li li-location"><a href="#"><p class="p p-location">Location</p></a></li>
                <li class="li li-delivery"><a href="#"><p class="p p-delivery">Delivery</p></a></li>
                <li class="li li-about"><a href="#"><p class="p p-about">About Us</p></a></li>

              </ul>


            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

      </div>

    </div>

    <div class="row fifth-row">
      <p>Equipment Rental for your Commerical Needs and Homeowner Projects</p>
    </div> 

    <div class="row sixth-row">
      <div class="jumbotron">
        <div class="container">

        </div>
      </div>


    </div>

    <div class="row seventh-row">
      <div class=" col-xs-4">
        <a href="/">
          <img src="/modules/core/client/img/brand/test2.png" class="img credit-application">
        </a>

      </div>
      <div class=" col-xs-4">

        <img src="/modules/core/client/img/brand/contactus.png" class="img credit-application">
      </div>
      <div class=" col-xs-4">
       <img src="/modules/core/client/img/brand/getaquote.png" class="img credit-application">
     </div>



   </div>

   <div class="row seventh-row-two">

     

    <div ng-controller="CarouselDemoCtrl">
     
        <carousel interval="myInterval">
          <slide ng-repeat="slide in slides" active="slide.active">

              <img ng-src="{{slide.image}}">

  
          </slide>
        </carousel>
 
    </div>

   </div>





  <div class="row rental-repair-service">



    <div class=" col-xs-12">
      <ul class="nav nav-tabs rent-service-sale">        
        <li role="presentation" class="active rental-repair-service"><a href="#">Rental</a></li>
        <li role="presentation" class="rental-repair-service"><a href="#">Service</a></li>
        <li role="presentation" class="rental-repair-service"><a href="#">Sales</a></li>
      </ul>
    </div>
    <div class=" col-xs-4 find-equipment">
      <div class="thumbnail">
        <img src="/modules/core/client/img/brand/find-equipment.png" alt="..." style="height:290px;width:390px;">
        <div class="caption">
          <h3>Find Equipment</h3>
          <p>Browse our extensive inventory</p>
          <ul>
            <li>Search Rental Equipment</li>
            <li>Buy Used Equipment</li>
            <li>Request Print Catalogs</li>
          </ul>
          
        </div>
      </div>
    </div>
    <div class=" col-xs-4 call-to-rent">
      <div class="thumbnail">
        <img src="/modules/core/client/img/brand/call-to-rent.png" alt="...">
        <div class="caption">
          <h3>Call To Rent Now</h3>
          <p>Reserve your rental & arrange delivery.</p>
          <p>Call 787-781-3320</p>
        
        </div>
      </div>
    </div>
    <div class=" col-xs-4 schedule-delivery">
      <div class="thumbnail">
        <img src="/modules/core/client/img/brand/delivery-truck.png" alt="...">
        <div class="caption">
          <h3>Schedule Delivery</h3>
          <p>Our Delivery Service technician will deliver the equipment directly to your jobsite and provide an overview of the equipment’s basic operation. Delivery is available 7 days a week!</p>
        
        </div>
      </div>
    </div>
  </div>












  <div class="row eigth-row">
   </div>


   <!-- <div class="carousel carousel-equipment">

    <div ng-controller="CarouselDemoCtrl">
      <div style="height: 160px">
        <carousel interval="myInterval">
          <slide ng-repeat="slide in slides" active="slide.active">

            <div class="row carousel-text">
              <div class=" col-xs-2">{{slide.text}}</div>
              <div class=" col-xs-2">{{slides[$index+1].text}}</div>
              <div class=" col-xs-2">{{slides[$index+2].text}}</div>
              <div class=" col-xs-2">{{slides[$index+3].text}}</div>
              <div class=" col-xs-2">{{slides[$index+4].text}}</div>
              <div class=" col-xs-2">{{slides[$index+5].text}}</div>
            </div>




            <div class="" style="width:1200px;margin:0;">

              <img ng-src="{{slide.image}}" width="150px" style="float:left; margin-right:25px; margin-left:33px; ">


              <img ng-src="{{slides[$index+1].image}}" width="150px" style="float:left; margin-right:20px; margin-left:20px; ">



              <img ng-src="{{slides[$index+2].image}}" width="150px" style="float:left; margin-right:20px; margin-left:20px; ">



              <img ng-src="{{slides[$index+3].image}}" width="150px" style="float:left; margin-right:20px; margin-left:20px; ">


              <img ng-src="{{slides[$index+4].image}}" width="150px" style="float:left; margin-right:20px; margin-left:20px; ">

              <img ng-src="{{slides[$index+5].image}}" width="150px" style="float:left; margin-right:20px; margin-left:20px; ">






            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div> -->

 <div class="row nineth-row"></div> 

  




  <div class="row register-row">
      <h5 class="h5 register-email">Sign Up for Savings & News!</h5>

  <div class=" col-xs-6"><img src="/modules/core/client/img/brand/newsletter.png" class="img newsletter-mail"></div>
  <div class=" col-xs-6 email-submit">

     <form class="form-inline">
      <div class="form-group">

        <input type="email" class="form-control email-subscribe" id="exampleInputEmail2" placeholder="">
      </div>
      <button type="submit" class="btn btn-default btn-subscribe">subscribe</button>
    </form>

      <!--  <img class="img go-sub" src="/modules/core/client/img/brand/go.png">

 -->
  </div>



    

   

 


   

  </div>



  <div class="row row-end">
   <div class="col-xs-6  col-xs-3"><dl>
    <dt>Our Distributors</dt>
    <dd>

      <ul>
        <li>.</li>


      </ul>



    </dd>
  </dl></div>
  <div class="col-xs-6  col-xs-3"><dt>Hours</dt>
    <dd>
      <ul>
        <li>Monday - Friday</li>
        <li>8:00am - 4:00pm</li>
        <li>Saturday</li>
        <li>8:00am - 12:00pm</li>
         <li>Sunday</li>
        <li>Closed</li>
      </ul>



    </dd></div>
    <div class="col-xs-6  3"> 

      <img class="img pickup-logo" src="/modules/core/client/img/brand/pickup.png">







    </div>
    </div>



    <div class="row row-end-footer">



      <footer>
        <p class="p copy-rights"> home | equipment | services | location | delivery | about us </p>
        
      </footer>

    </div>








  </section>