<section class="row data-ng-scope" data-ng-controller="HomeController">
  <!-- DE DIEGO RENTAL-->
  <div class="row first-row">
  </div>

  <div class="row third-row">
    <div class=" col-xs-4">
      .


    </div>
    <div class=" col-xs-4 phone">
      <h4 class="h4 phone">787-781-3320</h4>


    </div>
    <a ng-click="open('creditbackup')">
    <div class=" col-xs-4 login">
      <button type="button" class="btn btn-login">LogIn</button>


    </div>
      </a>

  </div>

  <div class="row fourth-row">
    <div class=" col-xs-4 icon-bar">


      <img class="img main-logo" src="/modules/core/client/img/brand/newlogo.png">


    </div>
    <div class=" col-xs-8 navbar-col8">






      <nav class="navbar navbar-default">
        <div class="container-fluid navbar-container">









          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">


              <li class="li li-equipment"  uib-dropdown on-toggle="toggled(open)">
                <a href id="simple-dropdown" uib-dropdown-toggle>
                  <p  class="p p-equipment">
                    EQUIPMENT

                  </p>
                </a>
                <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown">
                  Aerial Work Platforms
                  Air Compressors & Air Tools
                  Compaction
                  Concrete & Masonry
                  Earthmoving Equipment
                  Forklifts & Material Handling
                  Lawn & Landscape
                  Light Towers & Generators
                  Power & HVAC
                  Power Tools & Surveying
                  Pumps
                  Surface Preparation
                  Trench Safety & Shoring
                  Trucks & Trailers
                  Welders & Accessories
                  Other Equipment
                </ul>

              </li>





              <li class="li li-services" uib-dropdown on-toggle="toggled(open)">
                <a href id="simple-dropdown1" uib-dropdown-toggle>
                  <p class="p p-services">
                    Services
                  </p>
                </a>





                <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown1">

                  service menu

                </ul>


              </li>






              <li class="li li-location" uib-dropdown on-toggle="toggled(open)">
                <a href id="simple-dropdown2" uib-dropdown-toggle>
                  <p class="p p-location">
                    Location
                  </p>
                </a>





                <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown2">
                  <li class="li li-location">
                    <a href="" ng-click="open('creditsanjuan')"> <p class="p p-location">San Juan</p></a>
                  </li>

                  <li class="li li-location">
                    <a href="" ng-click="open('creditbayamon')"> <p class="p p-location">Bayamon</p></a>
                  </li>



                </ul>


              </li>



              <li class="li li-delivery" uib-dropdown on-toggle="toggled(open)">
                <a href id="simple-dropdown3" uib-dropdown-toggle>
                  <p class="p p-delivery">
                   Delivery
                  </p>
                </a>





                <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown3">

                  delivery menu

                </ul>


              </li>


              <li class="li li-about" uib-dropdown on-toggle="toggled(open)">
                <a href id="simple-dropdown4" uib-dropdown-toggle>
                  <p class="p p-about">
                   About
                  </p>
                </a>





                <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown4">

                  about menu

                </ul>


              </li>














            </ul>




          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    </div>

  </div>

  <div class="row fifth-row">
    <p>Equipment Rental for your Commerical Needs and Homeowner Projects</p>
  </div>

  <div class="row sixth-row">
    <div class="jumbotron">
      <div class="container">

      </div>
    </div>


  </div>

  <div class="row seventh-row">

    <div class=" col-xs-4">



      <a ng-click="open('creditbackup')">
        <img src="/modules/core/client/img/brand/test2.png" class="img credit-application">
      </a>

    </div>
    <div class=" col-xs-4">
 <a href="" ng-click="open('credit')">
      <img src="/modules/core/client/img/brand/contactus.png" class="img credit-application">
 </a>
    </div>
    <div class=" col-xs-4">
      <a ng-click="open('creditbackup')">
      <img src="/modules/core/client/img/brand/getaquote.png" class="img credit-application">
        </a>
    </div>

    <div class=" col-xs-12">
      <!--<img src="/modules/core/client/img/brand/banner-cover.png" class="img banner-cover">-->
    </div>




  </div>

  <div class="row seventh-row-two">



    <div data-ng-controller="HomeCarouselController">

      <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides" active="slide.active" index="slide.id">

          <img ng-src="{{slide.image}}">


        </uib-slide>
      </uib-carousel>

    </div>






  </div>





  <div class="row rental-repair-service-tab">



    <div class="col-xs-12 rent-sale-serv-pane">
      <uib-tabset justified="true">
        <uib-tab heading="Rental">


          <div class="row rental-repair-service">

            <div class=" col-xs-4 rental-col">
              <div class="thumbnail rental-thumb">
                <img src="/modules/core/client/img/brand/find-equipment.png" alt="...">
                <div class="caption rental-tab">

                  <h3 class="h3 rental-find-tab">Find Equipment</h3>


                </div>
              </div>
            </div>
            <div class=" col-xs-4 rental-col">
              <div class="thumbnail rental-thumb">
                <img src="/modules/core/client/img/brand/call-to-rent.png" alt="...">
                <div class="caption rental-tab">
                  <h3 class="h3 rental-call-tab">Call To Rent Now</h3>


                </div>
              </div>
            </div>
            <div class=" col-xs-4 rental-col">
              <div class="thumbnail rental-thumb">
                <img src="/modules/core/client/img/brand/delivery-truck.png" alt="...">
                <div class="caption rental-tab">
                  <h3 class="h3 rental-delivery-tab">Schedule Delivery</h3>

                </div>
              </div>
            </div>
          </div>








        </uib-tab>


        <uib-tab heading="Sales">



          <div class="row rental-repair-service">

            <div class=" col-xs-4 find-equipment">
              <div class="thumbnail">
                <img src="" alt="..." style="height:290px;width:390px;">
                <div class="caption">
                  <h3>Service Tab</h3>
                  <p>Sales #1</p>
                  <ul>
                    <li>...</li>
                    <li>...</li>
                    <li>...</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class=" col-xs-4 call-to-rent">
              <div class="thumbnail">
                <img src="" alt="...">
                <div class="caption">
                  <h3>Sales #2</h3>
                  <p>...</p>

                </div>
              </div>
            </div>
            <div class=" col-xs-4 schedule-delivery">
              <div class="thumbnail">
                <img src="" alt="...">
                <div class="caption">
                  <h3>Sales #3</h3>
                  <p>...</p>

                </div>
              </div>
            </div>
          </div>


        </uib-tab>


        <uib-tab heading="Service">

          <div class="row rental-repair-service">

            <div class=" col-xs-4 find-equipment">
              <div class="thumbnail">
                <img src="" alt="..." style="height:290px;width:390px;">
                <div class="caption">
                  <h3>Service Tab</h3>
                  <p>Service #1</p>
                  <ul>
                    <li>...</li>
                    <li>...</li>
                    <li>...</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class=" col-xs-4 call-to-rent">
              <div class="thumbnail">
                <img src="" alt="...">
                <div class="caption">
                  <h3>Service #2</h3>
                  <p>...</p>

                </div>
              </div>
            </div>
            <div class=" col-xs-4 schedule-delivery">
              <div class="thumbnail">
                <img src="" alt="...">
                <div class="caption">
                  <h3>Service #3</h3>
                  <p>...</p>

                </div>
              </div>
            </div>
          </div>

        </uib-tab>
      </uib-tabset>
    </div>

  </div>



  <div class="row misc-item">
    <div class="col-xs-8 misc-col-one">

      <div class="row misc-item-header">
        <div class="col-xs-12 header-classified">
          <div class="page-header">
            <h1>Classifieds</h1>
          </div>

        </div>


      </div>
      <div class="row misc-item-row">
        <div class="col-xs-8 latest-clasified">


        <section ng-controller="ArticlesController" ng-init="find()">
          <div class="list-group">
            <a ng-repeat="article in articles" ui-sref="articles.view({articleId: article._id})" class="list-group-item">
              <div class="row">

              <h4 class="list-group-item-heading" ng-bind="article.title"></h4>

              <div class="col-xs-3">
                <img src="" class="img-item-one-classified">



              </div>
              <div class="col-xs-9">


             <p>Price: $ {{article.price}}</p>

              <p>Contact: {{article.contactname}}</p>
              <p>Phone: {{article.contactphone}}</p>
              <p>Description: {{article.content}}</p>
              <small class="list-group-item-text">
                Posted on
                <span ng-bind="article.created | date:'mediumDate'"></span>
                by
                <span ng-bind="article.user.displayName"></span>

              </small>
                </div>
              </div>
            </a>
          </div>
          <div class="alert alert-warning text-center" ng-if="articles.$resolved && !articles.length">
            No articles yet, why don't you <a ui-sref="articles.create">create one</a>?
          </div>
        </section>


      </div>


</div>

    </div>
    <div class="col-xs-4 misc-col-two">


      <div class="row video-promotion-row">

        <div class="col-sm-12 video-promotion">

          <div class="row video-header">
            <div class="col-sm-12 video-header-promotion">
              <h1>Promotion!</h1>

            </div>

            <div class="row">
              <div class="col-sm-12 final-video-promotion">
                <iframe width="%100" height="300px" src="https://www.youtube.com/embed/bCehkkTTeMk" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-12">
              <p>Dustless Blasting in ACTION, Available for rent now!</p>
            </div>
          </div>

        </div>







        </div>
      </div>






    </div>

  </div>







  <div class="row row-end">


    <div class="row register-row">


      <div class="col-xs-2 phone-footer-img">
        <a ng-click="open('creditphone')">
        <img src="/modules/core/client/img/brand/phone-footer.png" class="img phone-footer">
          </a>
      </div>

      <div class="col-xs-2">
        <a ng-click="open('credithours')">
        <img src="/modules/core/client/img/brand/working-hours-footers.png" class="img phone-footer">
          </a>
      </div>
      <div class="col-xs-2">
        <a ng-click="open('creditnewsletter')">
        <img src="/modules/core/client/img/brand/newsletter-footer.png" class="img phone-footer">
          </a>
      </div>
      <div class="col-xs-2">
       <a href="https://www.facebook.com/De-Diego-Rental-214705721883689/">
         <img src="/modules/core/client/img/brand/facebook-footer.png" class="img phone-footer">
         </a>
      </div>
      <div class="col-xs-2">
        <img src="/modules/core/client/img/brand/home-footer.png" class="img phone-footer">
      </div>










    </div>

    

  </div>












</section>


