<section ng-controller="ArticlesController" ng-init="find()">
  <div class="page-header">
    <h1> Classifieds List</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="article in articles" ui-sref="articles.view({articleId: article._id})" class="list-group-item">

      <h4 class="list-group-item-heading" ng-bind="article.title">Title: </h4>
      <p class="list-group-item-text" ng-bind="article.price">Price: $</p>
      <p class="list-group-item-text" ng-bind="article.contactname">Contact: </p>
      <p class="list-group-item-text" ng-bind="article.contactphone">Phone: </p>
      <p class="list-group-item-text" ng-bind="article.content">Description: </p>

      <small class="list-group-item-text">
        Posted on
        <span ng-bind="article.created | date:'mediumDate'"></span>
        by
        <span ng-bind="article.user.displayName"></span>
      </small>

    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="articles.$resolved && !articles.length">
    No articles yet, why don't you <a ui-sref="articles.create">create one</a>?
  </div>


</section>
